* {
  margin: 0;
  padding: 0;
  <style>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;900&display=swap');
</style>
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: black;
}

header {
width: 100%;
display: flex;
}

.box {
  width: 100%;
  display: flex;
}

.logo{
  width: 50%;
  display: flex;
}


.logo img {
  height: 150px;
}


.nav {
  height: 150px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  margin-right: 20px;
  padding-left: 15px;
  padding: 10px;
  border-bottom: 20px;
}

.hero {
  display: flex;
  width: 100%;
  margin-top: 20em;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}



.titulo {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.parrafo {
  margin-top: 50px;
}

button {
  margin-left: 20vh;
  margin-top: 10px;
  padding: 5px;
  width: 150px;
  color: #111;
  background: linear-gradient(45deg,#ffbc00,#ff0058);
}

button:hover {
  transform: translate(-20px);
  transition: 0.5s;
}

.img {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.img-section {
  width: 100%;
}

.sobre-nosotros {
  display: flex;
  height: 100%;
}

.nosotros {
  display: flex;
  margin-top: 150px;
}

.container-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: black;
  padding: 40px 0;
  flex-wrap: wrap;
  width: 100%;
}


.container-card .box {
  font-family: 'Inconsolata', monospace;
  display: flex;
  position: relative;
  width: 320px;
  height: 400px;
  color: #fff;
  background-color: #111;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}

.container-card .box:hover {
  transform: translate(-20px);
}

.container-card .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,#ffbc00,#ff0058);
}

.container-card .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,#ffbc00,#ff0058);
  filter: blur(30px);
}

.container-card .box:nth-child(2):before,
.container-card .box:nth-child(2)::after {
  background: linear-gradient(351deg,#03a9f4,#ff0058);
}

.container-card .box:nth-child(3):before,
.container-card .box:nth-child(3)::after {
  background: linear-gradient(351deg,#4dff03,#00d0ff);
}

.container-card .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container-card .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.container-card .box .content {
  position: relative;
  z-index: 20;
  padding: 20px 40px;
}

.container-card .box .content h2 , h3 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container-card .box .content p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container-card .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  background-color: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  flex-direction: column;
}

footer .social_icon ,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li ,
footer .menu li {
  list-style: none;
  
}

footer .social_icon li a ,
footer .menu li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  
}

footer .social_icon li a:hover {
  transform: translate(-10px);
}

footer .menu li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/img/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_03 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_04 3s linear infinite;
}

@keyframes animateWave {

    0% {
      background-position-x: 1000px;
    }

    100% {
      background-position-x: 0px;
    }
}


@keyframes animateWave_02 {

  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}